# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# DB dumps
*.sql

# Swagger
schema.yml